.navbar-default {
    background-color: #8dc541;
}

#chat {
    height: 400px;
    width: 300px;
    position: absolute;
    right: 10px;
}

#chat-button {
    right: 10px;
    bottom: 10px;
    width: 100px;
    position: fixed;
}

#chat-frame {
    height: 70%;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#minus {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

iframe {
    height: 100%;
    width: 100%;
    background-color: white;
}

.col-sm-4 {
    text-align: center;
}

@media screen and (max-width: 480px) {
    #chat-frame {
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
    }
}

